*
{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}



/* header section */
.header
{
    height: 100vh;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.header-container
{
    height: 100vh;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    text-align: right;
    align-items: center;
    margin-right: 230px;
    float: right;
    width: 60%;
}

.header-title
{
    padding-bottom: 20px;
    font-size: 65px;
    font-weight: 700;

}

.header-description
{
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400px;
}

.btn-primary
{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #737272;
    border-radius: 5px;
    font-weight: 600;
}

.btn-primary:hover
{
    background-color: #FFFFFF;
    color:#151414;
}



/* achievement section */

.achievement-section, .plan-section, .footer-section, .gallery-container, .call-section
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.achievement-image
{
    margin-bottom: 200px;
}

.achievement-details
{
   width: 50%;
   margin-bottom: 150px;
}

.achievement-title, .plan-title, .gallery-title, .call-title
{
    font-weight: 700;
    color: #151414;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 50px;

}

.achievement-description, .gallery-description
{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

li
{
    list-style-type: none;
    padding-bottom: 10px;
}

i
{
    padding-right: 20px;
    color: green;
}

/* my plans section */
.plan-section
{
    text-align: center;
    margin-bottom: 150px;
}

.plan-title, .gallery-title
{
    text-align: center;
}

.plan-sub-title
{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    padding-top: 20px;
    color: #151414;
}

.plan-description
{
    font-size: 20px;
    font-weight: 400;
    color: #737272;

}

/* gallery section */

.gallery-section
{
    margin-bottom: 150px;
}

.gallery
{
    float: left;
    width: 500px;
    margin: 10px;
    border: 2px solid #737272;
    box-shadow: 5px 5px 15px #737272;
    border-radius: 5px;
}

.gallery:hover
{
    border: 2px solid #151414;
    box-shadow: 5px 5px 15px #151414;
}

.gallery img
{
    width: 100%;
}

.gallery-description
{
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

/* call section */
.call-section
{
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0, 0)),url('images/watch.png');
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 200px;
}

.call-title
{
    color:#FFFFFF;
    margin-bottom: 10px;
}
.call-button
{
    padding-left: 25px;
}

.call-btn-primary
{
    padding: 10px 20px;
    font-size: 25px;
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    border: 1px solid #737272;
    border-radius: 5px;
    font-weight: 600;
}

.call-btn-primary:hover
{
    background-color: #000000;
    color: white;
}

/* footer section */
footer
{
    background-color: #151414;
    height: 50vh;
    padding-top: 20px;
}

.footer-section
{
    padding-top: 100px;
}

.footer-info
{
    width: 50%;
}

.footer-title
{
    color: #F8F8F8;
    font-size: 45px;
    padding-bottom: 20px;
}

.footer-description
{
    font-size: 16px;
    padding-top: 10px;
    color: #FFFFFF;
}

input
{
    padding: 20px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
}

input::placeholder
{
    color:#FFFFFF;
}

.footer-icon
{
    padding-top: 30px;
}

.footer-btn
{
    padding-top: 20px;
}
